# FamTask Docker Konfiguration - Beispiel
# Kopieren zu .env und Passwörter anpassen!

DB_NAME=famtask
DB_USER=famtask
DB_PASS=dein_sicheres_passwort_hier
DB_ROOT_PASS=dein_root_passwort_hier
APP_PORT=8888
PMA_PORT=8081
DB_PORT=3307